body {
    background: rgb(81, 84, 87);
    background-image: url(/images/lygifogo.gif);
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 645px 645px;
    margin: 0;
    padding: 0;
}
.main {
    color: whitesmoke;
    font-family:'Times New Roman', Times, serif
    cursor: crosshair;
}
.main-title {
    text-align: center;
    font-size: 24px;
}
.header-two {
    text-align:center;
}
#favorite {
    text-align: center;
}
#me {
    text-align: center;
}
.about-me {
    text-align: center;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px;
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'Times New Roman', Times, serif;
}
.fig-caption {
    text-align: center;
    font-size:12px;
}
.b {
    transition: 0.25s ease-in;
    cursor: zoom-in;
}
.b img:active {
    -webkit-transform: scale(2);
    transform: scale(2);
    cursor: zoom-out;
}
.name{
    border: 10px dashed;
    border-radius: 10px;
    margin-top: 25px ;
    margin-bottom: 25px;
    margin-left: 80px;
    margin-right: 80px;
    cursor: crosshair;
}