.body {
    background: black;
    color: yellow;
    font-family:'courier new'
    cursor: crosshair;
}
.main-title {
    border: 5px dashed yellow;
    text-align: center;
    font-size: 24px;
}
.header-two {
    text-align:center;
}
.about-me {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px;
    font-family: fantasy;
}
.fig-caption {
    font-size:12px;
    cursor: zoom-in;
}